/* ==========================================================================
   INITIAL SET UP
========================================================================== */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus { outline: none };

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  font-weight: 300;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ==========================================================================
   MULTIUSE SETTINGS
========================================================================== */

.row {
  margin: 0 auto;
  max-width: 1140px;
}

section { padding: 80px 0; }

a:link,
a:visited,
a:active {
  border-bottom: 1.5px solid transparent;
  color: #ff5e57; /* sunset orange */
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

a:hover,
a:visited,
a:active {
  border-bottom: 1.5px solid #ff5e57; /* sunset orange */
}

/* ==========================================================================
   HEADER
========================================================================== */

h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 200;
}

h1 {
  color: #fff;
  font-size: 250%;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  margin-top: 0;
  word-spacing: 3px;
}

h2 {
  font-size: 180%;
  letter-spacing: 1.5px;
  margin-bottom: 35px;
  text-align: center;
  word-spacing: 2px;
}

h3 {
  font-size: 120%;
  margin-bottom: 15px;
}

h2::after {
  background-color: #3dc1d3; /* Blue Curacao */
  display: block;
  height: 2px;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
}

header {
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#222)), url(../img/carribean-beach.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #222), url(../img/carribean-beach.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo {
  float: left;
  height: 100px;
  margin-top: 10px;
  width: auto;
}

.black-logo {
  display: none;
  float: left;
  height: 60px;
  margin: 5px 0;
  width: auto;
}

.tagline-text-box {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

/* ==========================================================================
   NAVIGATION
/* ========================================================================== */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 35px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  border-bottom: 1.5px solid transparent; /* sunset orange */
  color: #fff;
  font-size: 90%;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1.5px solid #ff4e46; /* sunset orange */
}

/* ==========================================================================
   STICKY NAV BAR
/* ========================================================================== */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 2px 2px #f1fbfc;
          box-shadow: 0 2px 2px #f1fbfc; /* Almost White-Blue Curacao */
  z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #555;
  padding: 34px 0;
}

.sticky .logo { display: none; }
.sticky .black-logo { display: block; }

/* ==========================================================================
   MOBILE NAVBAR
/* ========================================================================== */

.mobile-nav-icon {
  margin-top: 30px;
  cursor: pointer;
  display: none;
  float: right;
}

.mobile-nav-icon i {
  color: #fff;
  font-size: 200%;
}

/* ==========================================================================
   PARAGRAPH STYLING IN Don't just survive — Live & Love Life SECTION
/* ========================================================================== */

.extended-text {
  line-height: 130%;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}

.box {
  padding: 1.5%;
}

.box p {
  font-size: 80%;
  line-height: 140%;
}

/* ==========================================================================
   ICON STYLING
/* ========================================================================== */

.large-icons {
  color: #3dc1d3; /* Blue Curacao */
  display: block;
  font-size: 300%;
  margin-bottom: 10px;
}
/* ---- align text and icons ---- */
.small-icons {
  color: #ff5e57; /* sunset orange */
  display: inline-block;
  font-size: 120%;
  line-height: 120%;
  margin-right: 10px;
  margin-top: -5px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
/* ==========================================================================
   BUTTONS /* btn secondary background-color: #3dc1d3; /* Blue Curacao */
/* ========================================================================== */

.btn:link,
.btn:visited,
input[type=submit] {
  border-radius: 200px;
  display: inline-block;
  font-weight: 200;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]:link,
input[type=submit]:visited  {
  background-color: #ff5e57; /* sunset orange */
  border: 1px solid #ff5e57; /* sunset orange */
  color: #fff;
  margin-right: 15px;
}

.btn-outlined:link,
.btn-outlined:visited,
input[type=submit] {
  border: 1px solid #ff5e57; /* sunset orange */
  color: #ff5e57; /* sunset orange */
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #ff4e46; /* darker sunset orange */
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #ff4e46; /* darker sunset orange */
}

.btn-outlined:hover,
.btn-outlined:active,
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid #ff4e46; /* darker sunset orange */
  color: #fff; /* white text */
}

/* ==========================================================================
   FAVORITE ISLAND PLACES & IMAGES SECTION
/* ========================================================================== */

.island-favorites {
  padding: 0;
}

.island-bestinclass {
  list-style: none;
  width: 100%;
}

.island-bestinclass li {
  display: block;
  float: left;
  width: 25%;
}

.island-photo {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.island-photo img {
  height: auto;
  opacity: 0.7;
  -webkit-transform: scale(1.30);
          transform: scale(1.30);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  -webkit-transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  width: 100%;
}

.island-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.10);
          transform: scale(1.10);
}

.btn-island:link,
.btn-island:visited {
  border: 0;

}

/* ==========================================================================
   AN ISLAND FOR EVERYONE
/* ========================================================================== */

.island-desc-box div.island {
  height: 100px;
}

.island {
  position:relative;
}

.island img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 5% auto;
}

.island-names {
  margin: 10%;
}

.island-names p {
  margin-top: 10%;
}

.island-names div {
  border-bottom: 1.5px solid #3dc1d3; /* Blue Curacao */
  color: #3dc1d3; /* Blue Curacao */
  display: inline-block;
  font-size: 150%;
  padding: 5px;
  text-align: center;
}

a.btn-island {
  display: inline-block;
  height: 80;
  width: 220px;
}

/* ==========================================================================
   OTHER ISLANDS FOR EVERYONE
/* ========================================================================== */

.other-islands {
  background-color: #f1fbfc; /* Almost White-Blue Curacao */
}

.other-islands i.large-icons {
  color: #ff5e57; /* sunset orange */
}

.other-islands h2::after {
  background-color: #f1fbfc; /* Almost White-Blue Curacao */
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* ==========================================================================
   TESTIMONIALS FROM REAL PEOPLE
/* ========================================================================== */

.island-testimonials {
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#222)), url(../img/beach-dawn-dusk.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #222), url(../img/beach-dawn-dusk.jpg);
  background-size: cover;
  color: #fff;
}

blockquote {
  font-style: italic;
  line-height: 145%;
  padding: 2%;
  position: relative;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 200%;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  display: block;
  font-size: 85%;
  margin-top: 25px;
}

cite img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

/* ==========================================================================
   FORM AREA
/* ========================================================================== */

.contact-form {
  margin: 0 auto;
  width: 90%;
}

input[type=text],
input[type=email],
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

textarea { height: 100px; }

input[type=checkbox] {
  margin: 10px 0px 10px 0;
}

.map {
  width: auto;
  height: 540px;
  position: relative;
  z-index: 0;
}

.map-box {
  width: auto;
  height: 540px;
  position: relative;
}

.form-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  height: 540px;
  padding-top: 40px;
  width: 50%;
}

/* ==========================================================================
   FOOTER
/* ========================================================================== */

footer {
  background-color: #2b3239;
  padding: 45px;
}

.footer-nav {
  float: left;
  list-style: none;
}

.social-links {
  float: right;
  list-style: none;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  border: 0;
  color: #19656f;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}
.ion-social-instagram,
.ion-social-dribbble,
.ion-social-twitter,
.ion-plane {
  -webkit-transition: color 0.3s;
  transition: color 0.3s
}

.ion-social-instagram:hover {
  color: #e95950;
}

.ion-social-dribbble:hover {
  color: #ea4c89;
}

.ion-social-twitter:hover {
  color: #55acee;
}

.ion-plane:hover {
  color: #00e461;
}

footer p {
  color: #19656f;
  font-size: 80%;
  text-align: center;
}

/* ==========================================================================
   animations
/* ========================================================================== */

.js--island-animation,
.js--features-animation {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--heartbeat {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.js--island-animation.animated,
.js--features-animation.animated {
  opacity: 1;
}
