/* ==========================================================================
   INITIAL SET UP
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* ==========================================================================
   MULTIUSE SETTINGS
========================================================================== */

.row {
  margin: 0 auto;
  max-width: 1140px;
}

section {
  padding: 80px 0;
}
/* ==========================================================================
   HEADER
========================================================================== */

h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 200;
}

h1 {
  color: #fff;
  font-size: 250%;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  margin-top: 0;
  word-spacing: 3px;
}

h2 {
  font-size: 180%;
  letter-spacing: 1.5px;
  margin-bottom: 35px;
  text-align: center;
  word-spacing: 2px;
}

h3 {
  font-size: 120%;
  margin-bottom: 15px;
}

h2::after {
  background-color: #3dc1d3; /* Blue Curacao */
  display: block;
  height: 2px;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
  width: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #222), url(../img/carribean-beach.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo {
  float: left;
  height: 100px;
  margin-top: 10px;
  width: auto;
}

.tagline-text-box {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 35px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  border-bottom: 1.5px solid transparent; /* sunset orange */
  color: #fff;
  font-size: 90%;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1.5px solid #ff4e46; /* sunset orange */
}

/* ==========================================================================
   PARAGRAPH STYLING
/* ========================================================================== */

.extended-text {
  line-height: 130%;
  margin-left: 10%;
  width: 80%;
}

.box {
  padding: 1.5%;
}

.box p {
  font-size: 80%;
  line-height: 140%;
}

/* ==========================================================================
   ICON STYLING
/* ========================================================================== */

.large-icons {
  color: #3dc1d3; /* Blue Curacao */
  display: block;
  font-size: 300%;
  margin-bottom: 10px;
}

/* ==========================================================================
   BUTTONS /* btn secondary background-color: #3dc1d3; /* Blue Curacao */
/* ========================================================================== */

.btn:link,
.btn:visited {
  border-radius: 200px;
  display: inline-block;
  font-weight: 200;
  padding: 10px 30px;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff5e57; /* sunset orange */
  border: 1px solid #ff5e57; /* sunset orange */
  color: #fff;
  margin-right: 15px;
}

.btn-outlined:link,
.btn-outlined:visited {
  border: 1px solid #ff5e57; /* sunset orange */
  color: #ff5e57; /* sunset orange */
}

.btn:hover,
.btn:active {
  background-color: #ff4e46; /* darker sunset orange */
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #ff4e46; /* darker sunset orange */
}

.btn-outlined:hover,
.btn-outlined:active {
  border: 1px solid #ff4e46; /* darker sunset orange */
  color: #fff; /* white text */
}

/* ==========================================================================
   FAVORITE ISLAND PLACES & IMAGES SECTION
/* ========================================================================== */

.island-favorites {
  padding: 0;
}

.island-bestinclass {
  list-style: none;
  width: 100%;
}

.island-bestinclass li {
  display: block;
  float: left;
  width: 25%;
}

.island-photo {
  margin: 0;
  width: 100%;
}

.island-photo img {
  height: auto;
  width: 100%;
}
